body{
    font-family:Georgia;
    color: #212529;
    font-size: 14px;
}
h1{
    text-align: center;
    font-weight: bold;
}
button{
    border: none;
    background:none;
    background-color:#6096BA;
    padding:8px 10px;
    border-radius:15px;
}
a{
    color:snow;
    text-decoration:none;
    -webkit-tap-highlight-color: transparent;
    font-weight: bold;
}
button:hover{
    background-color: red;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level {
    display: flex;
    justify-content: center;
    gap: 40px;
    magin-bottom: 20px;
}

.box {
    bckground: white;
    padding-left: 50px;
    padding-right:50px;
    bder-radius: 10px;
    width: 100px;
    text-align: center;
    box-shaow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    mrgin-bottom: 10px;
    bacground-color:blue;
}

.line {
    width: 2px;
    height: 15px;
    background-color: black;
    margin: 0 auto;
}