body{
    fon-family:Georgia;
    font-family: "Raleway", sans-serif;
    color: #212529;
    font-size: 14px;
  ;
}

h1{
    text-align: center;
    font-weight: bold;
}
h2{
    text-align: center;
    font-weight: bold;
    bckground-color:#DEE2E6;
    pading:4px 0;
    
}
.data{
      display:flex;
      justify-content: space-between;
}
button{
    border: none;
    background:none;
    background-color:#6096BA;
    padding:8px 10px;
    border-radius:15px;
}
a{
    color:snow;
    text-decoration:none;
    -webkit-tap-highlight-color: transparent;
    font-weight: bold;
}
button:hover{
    background-color: red;
}


h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    bacground-color:gray;
}

.level {
    display: flex;
    justify-content: center;
    gap: 30px;
    magin-bottom: 20px;
}
span{
    display:flex;
    justify-content:center;
    text-align: center;
}

.box {
    bckground: white;
    padding-left: 30px;
    padding-right:30px;
    bder-radius: 10px;
    width: 130px;
    text-align: center;
}

.box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:2px solid #D7263D;
}

.line {
    width: 2px;
    height: 15px;
    background-color: #6096BA;
    margin: 0 auto;
}
